# This file specifies the environment variables that will be set when using the
# `heroku local` command locally during development. It has no effect on apps
# running on Heroku - to set env vars for those, see:
# https://devcenter.heroku.com/articles/config-vars

TIMES=2
SPOTIFY_CLIENT_ID=developer.spotify.com/dashboard
SPOTIFY_CLIENT_SECRET=developer.spotify.com/dashboard
SPOTIFY_ADMIN_USERNAME=00000000000001
DATABASE_URL='postgres://'
