<header class="navbar navbar-expand-lg sticky-top bg-dark-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pyjams:index' %}">
            <i class="fas fa-music me-2"></i>PyJams
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" 
                       href="{% url 'pyjams:index' %}">
                        <i class="fas fa-home me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'playlists' %}active{% endif %}" 
                       href="{% url 'pyjams:playlists' %}">
                        <i class="fas fa-music me-1"></i>Playlists
                    </a>
                </li>
                {% endif %}
            </ul>
            
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user me-1"></i>{{ user.first_name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user-circle me-1"></i>Profile
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'pyjams:logout' %}">
                                <i class="fas fa-sign-out-alt me-1"></i>Logout
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-spotify" href="{% url 'pyjams:spotify_login' %}">
                        <i class="fab fa-spotify me-1"></i>Login with Spotify
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
